body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  /* para respeitar o width definido sem ser influenciado pelo paddnig. Se tem um width de 300px e uma padding para os lados de 60, sem o border-box no total teria 420px, enquanto que com border-box terá os 300px mas a área de conteudo interna vai diminuir */
}

/* Superinfo */

.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  /* para alinhar o item ao centro */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}

.superinfo a:hover {
  color: #2c70ff;
}

/* Menu */

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  /* Para os itens nao estourarem o container */
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  /* Por que por padra a é display in line, entao coloca-se display block para influenciar no padding text-decoration-style: ; */
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* Introdução */

.introduçao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/* Sobre */

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  /*flex-basis de 300px é o valor minino que o editor quer se que chegue antes de quebrar, para n ficar muito pequeno  */
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* Produtos */

.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}
.produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/* Preço */

.preço {
  background: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.preço-item {
  flex: 1;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
  min-width: 260px;
}

.preço-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.preço-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  /* display block pq o span por padrao é display in line, entao para o max-width e a margin defnierem o container é necessario colocar display block */
  font-size: 3em;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.preço-item sup {
  font-size: 1.5rem;
}

.preço-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  line-height: 1;
  font-style: italic;
  color: #7c7c7c;
}

.preço-item li {
  display: flex;
  /* para tornar o li: after (as bolinhas) e o texto dentro do li em flex itens */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.preço-item li:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.preço-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  /* para alinhar o a em relação ao container e para ter 20px de distiancia no top e no bottom. Display block para que o margin e o max-width se façam valher */
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;
}

/* Qualidade */

.qualidade {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualidade-item:nth-last-of-type(3n + 1) h2:before {
  background: #ae81ff;
}

.qualidade-item:nth-last-of-type(3n + 2) h2:before {
  background: #f9265e;
}

.qualidade-item:nth-last-of-type(3n + 3) h2:before {
  background: #66d9eb;
}

.qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

/* NewsLetter */

.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 240px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 260px;
  /* cresce duas vezes mais que o newsletter */
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  /* Display flex para fazer com que os itens dentro do form sejam flex itens mesmo que sem isso eles ja estejam um do lado do outro, wrap para quebrar quando nao couber mais o assinar */
}

.newsletter-form input {
  flex: 2 1 260px;
  /* grow 2 para o input crescer 2 vezes mais que o button e 260px para ele n ficar menor que isso */
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
  outline: none;
}

.newsletter-form button {
  flex: 1 1 260px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  color: white;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}

/* Footer */

.footer {
  display: flex;
  background: #2c70ff;
  height: 200px;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25em;
  color: #122ab2;
}

/* JAVASCRIPT DO QUALIDADE */

[data-tab="content"] {
  display: none;
}

[data-tab="content"].ativo {
  display: block !important;
}

[data-tab="content"].ativo.show-right {
  animation: show-right 0.5s forwards;
}

[data-tab="content"].ativo.show-down {
  animation: show-down 0.5s forwards;
}

[data-tab="content"].ativo.show-up {
  animation: show-up 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: matrix3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* FIM DO JAVASCRIPT QUALIDADE */

/* SCROLL SUAVE E ANIMACAO*/

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}
.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* FIM SCROLL SUAVE E ANIMACAO*/
